	html {
		color: white;
	}

	#header {
        position: fixed;
        top: 10;
        height: 100px;
        width: 100%;
	}

	#header-left {
		text-align: left;
		margin-top: 20px;
		margin-left: 100px;
	}

	#header-right {
		text-align: right;
		margin-top: 20px;
		margin-right: 150px;
	}

	#header-center {
		text-align: center;
		margin-top: -30px;
		margin-left: -40px;
	}

	img#header-center {
		border-radius: 50%;
	}

	.cname {
		font-size: 20;
		font-family: sans-serif;
	}
	
	#linediv {
                width: 100%;
                border-top: 1px solid #FFF;
                border-left: 1px solid #FFF;
                border-right: 1px solid #FFF;
                border-bottom: 1px solid #FFF;
            }

    .wrapper {
                width: 850px;
                padding-top: 5px;
            }


	.status {
	    background:url('images/status.png') 0px 15px no-repeat;
	    padding-left:40px;  
	    line-height:42px;
			}
